<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.groupENIGMA.journalEgocentrique"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.groupENIGMA.journalEgocentrique.WriteNote"
            android:label="@string/title_activity_write_note" >
        </activity>
        <activity
            android:name="com.github.groupENIGMA.journalEgocentrique.PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name="com.github.groupENIGMA.journalEgocentrique.MoodActivity"
            android:label="@string/title_activity_mood" >
        </activity>
        <activity
            android:name="com.github.groupENIGMA.journalEgocentrique.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name="com.github.groupENIGMA.journalEgocentrique.ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name="com.github.groupENIGMA.journalEgocentrique.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.github.groupENIGMA.journalEgocentrique.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
    </application>

</manifest>
